 @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
body { background: url(./paper-fibers.png); font: 18px 'Roboto Condensed', sans-serif; color:#424242; }
body * { margin:0; padding:0; border:0; }
h1 { font-size:32px; font-weight:normal; margin-bottom:20px; }
a { text-decoration:none; color:#424242; }
a:hover { text-decoration:underline; }
#vcard {  margin:-125px 0 0 -250px; width:500px; height:250px; background:#fff; position:absolute; top:40%; left:50%; }
#vcard { border:1px solid #e7e7e7;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 11px 11px 21px #e8e8e8; /* webkit browser*/ -moz-box-shadow: 11px 11px 21px #e8e8e8; /* firefox */ box-shadow: 11px 11px 21px #e8e8e8; }
#photo { position:absolute; top:25px; left:25px; }
#contact { position:absolute; top:25px; left:250px; }
#tel { padding-bottom:15px; }
#fingerprint { position:fixed; bottom:0; left:0; font-size:12px }